
.Wrapper {
   width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
    
}
.Content {
     width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 90px 55px;
}

.title {
  display: block;
  width: 100%;
  font-family: Montserrat-Black;
  font-size: 39px;
  color: #333333;
  text-align: center;
}

.wrap-input {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 12px;
  margin-bottom: 20px;
}

.label-input {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}
.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}
    
.btn {
 
  width: 100%;
  height: 50px;
  background-color: #A1D030;
  border-radius: 25px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;

  
}

.table {
 margin: 1em 0
  width: 100%
  overflow: hidden
  background-color: $table-bg-color
  color: $table-txt-color
  border: $table-outer-border
  border-spacing: 0
  border-collapse: collapse
}

.container-table {
    width: 900px;
    background: #e4dede;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 62px 55px 100px 55px;
    margin-left: 150px;
    margin-top: 150px;
}
.table-head {
   width: 100%;
   top: 0;
   left: 0;
   background:#669999;
   display:table;
   height: 30px;
   align-content: center;
   font-size: large;
}
.table-body {
   width: 100%;
   top: 0;
   left: 0;
   background:#c0c0c0;
   display:table;
   height: 30px;
   align-content: center;
   font-size: large;
}
}
.table-th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #5aa59a;
  line-height: 1.4;
  background-color: #6c7ae0;
}
.table-td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  
}

.table.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.column {
  width: 1%;
}

