<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
	<div class="Wrapper">
<!-- main content -->
		<div class="Content">
			<form th:action="@{/add-info}" method="POST" class="full-screen-form">
				<div class="title"><h5 th:text="Insurance"></h5></div>
				<div class="wrap-input">
					<span class="label-input">NHIS NUMBER *</span>
						<input class="input" type="text" name="nhisNumber" placeholder="Enter NHIS NUMBER">
				</div>
				<button class="btn">
					<span> Submit </span>
				</button>
             </form>
        </div><!--/ end content-->
    </div><!-- end wrapper --> 
</body>
</html>
