<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
			<div class = "container-table">
			<div class="swagger"> <a href=swagger-ui.html>
			<button>Link To Swagger</button></a>
			</div>
					<h2>Insurance detail</h2>
				<div class="table-head">
					<table>
						<thead>
							<tr class="table-th">
							<th class="column">Nhis Id</th>
							<th class="column">Patient Id</th>
							<th class="column">Status</th>
							<th class="column">BenefitBalance</th>
							<th class="column">Code</th>
							</tr>
						</thead>
					</table>
				</div>
			<div class="table-body">
				<table>
				<tbody>
					<tr class="table-td">
					<td class="column" th:text="${nhisNumber}">nhisId</td>
					<td class="column" th:text="${patientId}">patientId</td>
					<td class="column" th:text="${status}">status</td>
					<td class="column" th:text="${benefitBalance}">benefitBalance</td>
					<td class="column" th:text="${code}">code</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
</body>
</html>
